NODE_ENV=
PORT=

APP_NAME=Boat Island

MONGODB_URI=
AUTH_JWT_SECRET=
BCRYPT_SALT=

# URLs
BASE_URL=
CLIENT_URL=

# Mailer
MAILER_HOST=
MAILER_USER=
MAILER_PASSWORD=
MAILER_PORT=
MAILER_SECURE=
MAILER_DOMAIN=